
.box {
    width: 100%;
    height: 100%;
    margin: 200px;
}
.activeColor {
    width: 100%;
    transition: all .5s;
    color: rgb(166, 166, 166);
    margin-bottom: 20px;
    font-size: 18px;
    &:hover {
        cursor: pointer;
        color: rgb(97,184,247);
    }
}
.tagMenu {
    display: flex;
    margin-bottom: 20px;
    font-size: 16px;
    .tag_style {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        line-height: 40px;
        border: 1px solid transparent;
        border-radius: 20px;
        margin-right: 10px;
        color:#ffffff;
        transition: all .3s;
        box-sizing: border-box;
        &:hover {
            cursor: pointer;
            width: 120px;
            .close {
                display: block;
            }
        }
        .close {
            display: none;
            margin-left: 5px;
        } 
    }
    
}
